@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
body{
    margin:0px;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin: 0px;
    padding-top:20px;
    padding-bottom:5px;
    background-color:black;
    color:white;
    text-align:center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: larger;
    font-weight: 500;
}
footer li{
    display:inline;
    padding: 5px;
    margin: auto 15px auto -15px;
}
footer .footertext {
    margin:2px;
    font-size: 12px;
    letter-spacing: 1.5px;
}
footer #copyright{
color:#eb19b0;
font-size: 10px;
margin-left:13px;
letter-spacing: 1.5px;
margin-bottom: 10px;
}

footer img {
height: 1.5%;
width: 1.5%;
}

footer ul {
margin-top: 15px;
margin-left: 48px;
margin-bottom: 8px;
}