@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
/*Keyframes*/
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }
}
body {
    margin: 0px;
    background-color: black;
    display:flex;
    flex-direction: column;
    font-family: 'PT Sans Narrow', sans-serif;
}


/* -----------------HERO------------------------------------------------------------------------*/

.hero {
    vertical-align: middle;
    height: 630px;
    object-fit:cover;
  }


  
  /* Slideshow container */
  .slideshow-container {
    overflow:hidden;
    width:100%;
    position: relative;
    display: inline-block;
    margin: auto;
  }
  
  /* Caption text */
  .text {
    color: white;
    font-family:'Tilt Neon', sans-serif;
    font-size: 20px;
    padding: 25px;
    position: absolute;
    margin-top: -400px;
    width: 100%;
    text-align: left;
    margin-left:800px;

  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .activem, .dot:hover{
    background-color: #eb19b0;
  }
  
  .slide {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    margin-top: -40px;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  .hero__button:hover {
    background-color: #eb19b0;
  }
  
  @keyframes fade {
    from {opacity: .5} 
    to {opacity: 1}
  }
  
  .text {
    margin-left:190px;
    margin-bottom:0px;
    animation: fade-up 1s;
  }
  p {
    font-size:18px;
    margin:0px;
  }
  h2 {
    margin-top:10px;
    margin-bottom:10px;
  }
  a {
    margin-left:0;
    margin-right:5px;
  }

  .slideshow-container h2, .hero-link--text {
    text-shadow: 0 0 5px #FF0000, 0 0 7px #0000FF;
    letter-spacing: 3px; 
  }
  .hero__img--button {
    height: 18px; 
    display: inline-block;
    margin-left: 6px;
    margin-right: 5px;
  }
  
  .hero-link--text {
    font-size: smaller;
    display:table-cell;
    vertical-align:middle;
    line-height: 1rem;
  }

  .button__flex {
    margin-top: 1.8vh;
    display: flex;
    width: fit-content;
    gap: 0.7vw;
  }
  .hero__button {
    display: table;
    width: fit-content;
    text-decoration: none;
    cursor: pointer;
    border-style: solid;
    border-radius: 100000px;
    background-color: rgba(27, 27, 27, 0.6);
    color: white;
    transition: all .5s ease;
    padding: 4px;
    line-height: 1rem;

  }

  .vidhero {
    display:none;
    height: 100vh;
    width: 100%;
  }
  #myVideo {
    right: 0;
    bottom: 0;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  
  }

/* -----------------Instagram Widget------------------------------------------------------------------------*/
.Instagram-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;  

}

.Instagram-widget h2 {
  color: white;
  margin: 50px;
}

/* -----------------About us------------------------------------------------------------------------*/
.aboutus {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 78.78vh;
  width: 100%;
  color: white;
  gap: 1.125rem;
}

.aboutus p {
  font-size: .5rem;
}

.aboutus div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0%;
  width: 100%;
  height: 200px;
  gap: 6.25rem;

}

.aboutus img {
  max-height: 75%;
  max-width: 75%;
  overflow: hidden;
  margin: 0%;
}

.aboutus h1, .Instagram-widget h1, .Upcoming-Events h1 {
  font-size: 4.375rem;
  letter-spacing: 5px;
  text-shadow: 0 0 5px #FF0000, 0 0 7px #0000FF;
  color: white;
}

.aboutus h1 {
  text-align: center;
}

.aboutus p {
  letter-spacing: 0.094rem;
  font-size: 1.125rem;
  line-height: 1.875rem;
  width:38.75rem;
  
}



/* -----------------Upcoming Events------------------------------------------------------------------------*/
.Upcoming-Events {
  height: 650px;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
}

.Upcoming-Events h1 {
  margin-bottom: 5vh;
}

.event-container{
  display:flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.event-container p {
  margin-left: .5rem;
  color: whitesmoke;
  font-weight: 600;
  letter-spacing: 2px;
}

.event-container .date {
  margin-bottom: 1rem;
  font-size: .8rem;
}

.event-container .title {
  font-size: 1.2rem;
}


.event-container .card {
  display: flex;
  flex-direction: column;
  background: #1b1b1b;
  width: 230px;
  height: 480px;
  margin: 10px;
  border-radius: 5px;
}

.butts {
  display:flex;
  justify-content: space-around;
}

.card-image {
  background-color: #0000FF;
  height: 400px;
  margin-bottom: 15px;
  border-radius: 5px 5px 0 0;
  background-size:cover;
}

.card-1 {
  background-position: center center;
  background-image: url(../Images/losmoween.jpg);
}

.card-2 {
  background-position: 75% 10% ;
  background-image: url(../Images/midnights.PNG);
}

.card-3 {
  background-position: center center;
  background-image: url(../Images/netflix.jpg);
}

.event-container .card h1 {
  padding: 10px;
}

.event-container .card p {
  margin-left: 12px;
}

.event-container .card a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  text-align: center;
  display:block;
  text-decoration: none;
  padding: 5px;
  font-size: 13px;
  margin-top: 20px;
  width:80px;
  height: 20px;
  border-radius: .3rem;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.event-container .card .read-more {
  border: 1px solid whitesmoke;
  margin-bottom: 1rem;
}

.event-container .card .read-more:hover {
  background-color: white;
  color: black;
  transition: 0.3s;
}

.event-container .card .reserve {
  background-color: #eb19b0;
  color: whitesmoke;
  border: 1px solid transparent;
}



/*----------------------------------------Menu Index----------------------------------------------*/
.Menu-section {
  width: 100%;
}

.image-opening {
  height: 500px;
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(../Images/menuindex.jpg);
  background-position: center 40%;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

.image-opening .paragraph {
  width: 50%;
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: 1.2px;
}

.image-opening h1 {
  font-size: 3.8rem;
}

.image-opening p {
  font-size: 1.2rem;
  line-height: 30px;
}

.drinks-section {
  color: whitesmoke;
}


.drinks-section img {
  height:80%;
  width: auto;
  border-radius: 5%;
}


.drinkies {
  height: 80.98vh;
  display: none;
  justify-content: center;
  gap: 6rem;
  align-items: flex-end;
}

.drinkies img {
  margin: 0;  
}

.drinkies .info {
  width: 28rem;
}

.drinkies h1 {
  font-size: 5.8rem;
  letter-spacing: 2px;
  margin-bottom: 0;
}

.drinkies p {
  font-size: 1.5rem;
  letter-spacing: 1.2px; 
}

/* Next & previous buttons */

.prevnextbutt {
  display: flex;
  justify-content: center;
}

.prevnextbutt {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;

}
.prev, .next {
  cursor: pointer;
  margin-top: 22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  border-radius: 3px 0 0 3px;
}


.drinks-section .info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


@media(max-width:840px) {
  .drinkies .info {
    width: 20rem;
  }

  .text {
    margin-left:140px;
  }
  .aboutus p {
    text-align: center;
    font-size: 1rem;
    line-height: 1.575rem;
  }
  .aboutus div {
    gap: 3.125rem;
  }

  .aboutus {
    margin-bottom: 5vh;
  }

  .paragraph {
    margin-right: 11rem;
  }

  .image-opening h1 {
    font-size: 3.5rem;
    width: 37.5rem;
    text-align: center;
  }

  .image-opening p {
    width: 37.5rem;
    font-size: 1.1rem;
  }

  .drinkies {
    gap: 3rem;
  }

  .drinks-section .info {
    gap: .1rem;
  }

  .drinkies h1 {
    font-size: 4rem;
    letter-spacing: 2px;
  }
  
  .drinkies p {
    font-size: 1rem;
    letter-spacing: 1.2px;
    width: 20rem; 
  }

  .drinks-section img {
    height:70%;
  }

  .aboutus h1, .Instagram-widget h1, .Upcoming-Events h1 {
    font-size: 3.5rem;

  }

  .prev, .next {
    top: 470%;
  }

}

@media(max-width:790px) {

  .slideshow-container {
    display:none;
  }

  .vidhero {
    display:block;
  }

  .drinkies {
    gap: 1.5rem;
    
  }
  .prev, .next {
    top: 595%;
  }

  .aboutus {
    margin-bottom:15vh;
  }

  .aboutus div {
    gap: 3.10rem;
  }

  .aboutus h1 {
    margin-bottom:35px;
  }
  
  .Upcoming-Events h1 {
    text-align: center;
  }
  
  .Upcoming-Events {
    align-items: center;
    margin-bottom:60rem;
  }

  .event-container {
    justify-content: center;
  }

  .event-container .card {
    width: 70vw;
  }

  .card-2 {
    background-position: center;
  }

  .event-container .card .read-more,
  .event-container .card .reserve {
    width:8rem;
  }

  
}

@media(max-width:740px) {
  .image-opening h1 {
    width: 35rem;
  }

  .image-opening p {
    width: 35rem;
  }
}

@media(max-width:690px) {

  .aboutus {
    margin-top:50px;
  }

  .aboutus h1, .Instagram-widget h1, .Upcoming-Events h1 {
    font-size: 3rem;

  }

  .aboutus p {
    font-size: .95rem
  }

  .paragraph {
    margin-right: 5rem;
  }

  .drinkies {
    gap: 1rem;
  }

  .drinkies h1 {
    font-size: 3.5rem;
    letter-spacing: 2px;
  }
  
  .drinkies p {
    font-size: .9rem;
    letter-spacing: 1.2px;
    width: 18rem; 
  }

  .drinks-section img {
    height:60%;
  }

  .image-opening h1 {
    font-size: 2.5rem;
    width: 420px;
    text-align: center;
  }

  .image-opening p {
    width: 450px;
    font-size: 1rem;
    line-height: 25px;
  }

  .event-container .card {
    width: 75vw;
  }

  .event-container .card .read-more,
  .event-container .card .reserve {
    width:13rem;
    height: 1.2rem;
  }

  .Upcoming-Events {
    margin-bottom: 900px;
  }

  .prev, .next {
    top: 640%;
  }
}

@media(max-width:590px) {

  .aboutus {
    margin-bottom: 9rem;
  }
  .aboutus p {
    width:30.75rem; 
  }

  .event-container .card .read-more,
  .event-container .card .reserve {
    width:11rem;
    height: 1.2rem;
  }

  .image-opening {
    align-items: center;
    margin-left: auto;
  }

  .image-opening h1 {
    font-size: 2.2rem;
    width: 400px;
    text-align: center;
  }

  .image-opening p {
    width: 400px;
    font-size: .9rem;
    line-height: 25px;
  }

  .drinkies {
    gap: .1rem;
  }

  .drinkies h1 {
    font-size: 3rem;
    letter-spacing: 2px;
    width: 18rem;
  }
  
  .drinkies p {
    font-size: .9rem;
    letter-spacing: 1.2px;
    width: 18rem; 
  }

  .drinks-section img {
    height:50%;
  }

  .prev, .next {
    top: 655%;
  }

  .aboutus h1, .Instagram-widget h1, .Upcoming-Events h1 {
    font-size: 2.5rem;
  }
  
}


@media(max-width:490px) {

  .event-container .card {
    width: 90vw;
  }

  .event-container .card .read-more,
  .event-container .card .reserve {
    width:11rem;
    height: 1.2rem;
  }
  
  .aboutus p{
  width:21.29rem;
  }

  .aboutus {
    margin-bottom: 35vh;
  }

  .image-opening {
    align-items: center;
    margin-left: auto;
    height: 300px;
  }

  .image-opening h1 {
    margin-top: 50px;
    font-size: 1.8rem;
    width: 320px;
    text-align: center;
  }

  .image-opening p {
    width: 320px;
    font-size: .70rem;
    line-height: 17px;
  }

  .drinkies {
    gap: 1rem;
  }

  .drinkies .info {
    width: 14rem;
  }

  .drinkies h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    width: 15rem;
  }
  
  .drinkies p {
    font-size: .7rem;
    letter-spacing: 1.2px;
    width: 15rem; 
  }

  .drinks-section img {
    height:40%;
  }

  .prev, .next {
    top: 625%;
  }

  .aboutus h1, .Instagram-widget h1, .Upcoming-Events h1 {
    font-size: 2.0rem;
  }
}

@media(max-width:390px) {
  .image-opening {
    align-items: center;
    margin-left: auto;
    height: 300px;
  }

  .image-opening h1 {
    margin-top: 50px;
    font-size: 1.6rem;
    line-height: 30px;
    width: 280px;
    text-align: center;
  }

  .image-opening p {
    width: 280px;
    font-size: .55rem;
    line-height: 15px;
  }

  .drinkies {
    gap: 1rem;
    height:60vh;
  }

  .drinkies .info {
    width: 12rem;
  }

  .drinkies h1 {
    font-size: 2.2rem;
    letter-spacing: 2px;
    width: 12rem; 
  }
  
  .drinkies p {
    font-size: .7rem;
    letter-spacing: 1.2px;
    width: 12rem; 
  }

  .drinks-section img {
    height:45%;
  }

  .prev, .next {
    top: 608%;
  }

  .aboutus {
    height: 60vh;
    margin-bottom: 10vh;
  }

  .aboutus h1, .Instagram-widget h1, .Upcoming-Events h1 {
    font-size: 1.5rem;
  }

  .aboutus h1 {
    margin-top:20px;
  }

  .aboutus p {
    font-size: .5rem;
    line-height: 1rem;
  }
  
  .aboutus img {
    max-height: 50%;
    max-width: 50%;
    overflow: hidden;
    margin: 0%;
  }

  .event-container .card .read-more,
  .event-container .card .reserve {
    width:9rem;
    height: 1.2rem;
  }

  .prev, .next {
    top: 563%;
  }
}

/*----------------------------------------contact Index----------------------------------------------*/

.contact-us {
  display: flex;
  flex-direction: column;
  width: 32vw;
  background-color: black;
}

.contact-us > .form, .faq{ 
  position: static;
  left: 0;
  right: 0;
  width: 32vw;
  text-align: left;
  color: white;
}

.accordion{
  display: inline-block;
  background-color: #eee;
  color: black;
  cursor: pointer;
  height:fit-content;
  padding: 15px;
  width: 32vw;
  outline: none;
  text-align: left;
  transition: 0.4s;
  font-family: 'PT Sans Narrow';
    font-size: 18px;
    margin: 0;
}

.accordion:after {
content: '\002B';
font-weight: bold;
float: right;
margin-left: 5px;
}

.active:after {
content: "\2212";
}
        
.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  left: 0;
  right: 0;
  text-align: left;
  padding: 0 18px;
  width: 32vw;
  background-color: black;
  display: none;
  overflow: hidden;
}
.acc-faq{
  margin: 10px 0;
}

.contact--container {
  width:80vw;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 8vw;
  
}
.faq--container {
  width: 32vw;
  margin: 0 auto;
}
.hero__faq--container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 72vw;
  margin:2vh auto 8vh;
  text-align: center;
}

.contact--text {
  width: 32vw;
}
.contact__button {
  font-family: 'PT Sans Narrow', sans-serif;
  transition: all .5s ease;
  cursor: pointer;
  color: #fff;
  border: 2px solid white;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  background-color : transparent;
  padding: 10px 7px 10px 10px;
  outline: none;
  border-radius: 4px;
  letter-spacing: 3px;
  font-weight: 500;
  width: fit-content;
  margin: auto;
  text-shadow: 0 0 5px #FF0000, 0 0 7px #0000FF;
}
.contact__button--left {
  margin: 0;
}
.contact__button:hover{
  color: black;
  background-color: #fff;
}

.contact__header {
  color: white;
    margin: 10px 0;
    font-size: 26px;
}
.contact__para {
  color:white;
  margin: 10px 0 20px;
}
  
@media screen and (max-width: 768px) {
  #contact__faq {
    
  }
  .contact--container {
      flex-direction: column;
      width: 80vw;
  }
  .contact__button--left {
    margin: auto;
  }
  .accordion {
      width: 80vw;
  }
  .contact--text{
    text-align: center;
    margin: auto;
    width: 80vw;
  }
  .panel {
      width: 80vw;
  }
  input[type=text], textarea {
      width: 80vw;
  }
  .contact__header {
      width: 80vw;
  }
  .contact-us {
      width: 80vw;
      margin: auto;
      justify-content: center;
      text-align: center;
  }
  .contact-us > .faq{ 
      width: 80vw;
      margin: auto;
  }
  .faq {
      width: 80vw;
      margin: auto;
  }
  .faq--container {
      width: 80vw;
  }
  .hero__faq--container {
      width: 80vw;
      margin: 14vh auto 0;
  }
}