@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
/*Keyframes*/
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }
}
body {
    margin: 0px;
    background-color: black;
    
}

/* -----------------HERO------------------------------------------------------------------------*/

.hero {
    vertical-align: middle;
    height: 500px;
    object-fit:cover;
  }
  
  /* Slideshow container */
  .slideshow-container {
    overflow:hidden;
    width:100%;
    position: relative;
    display: inline-block;
    margin: auto;
  }
  
  /* Caption text */
  .text {
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
    padding: 25px;
    position: absolute;
    margin-top: -400px;
    width: 100%;
    text-align: left;

  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover{
    background-color: #eb19b0;
  }
  
  .slide {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    margin-top: -40px;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  .hero-link{
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    color: white;
    transition: all .5s ease;
  }
  
  .hero-link:hover {
    background-color: #eb19b0;
  }
  
  @keyframes fade {
    from {opacity: .5} 
    to {opacity: 1}
  }
  
  .text {
    margin-left:80px;
    margin-bottom:0px;
    animation: fade-up 1s;
  }
  p {
    font-size:18px;
    margin:0px;
    font-family: 'PT Sans Narrow', sans-serif;
  }
  h2 {
    margin-top:10px;
    margin-bottom:10px;
    font-family: 'PT Sans Narrow', sans-serif;
  }
  a {
    margin-left:0;
    margin-right:5px;
  }

  .text, p, h2, a {
    text-shadow: 0 0 5px #FF0000, 0 0 7px #0000FF;
    letter-spacing: 3px; 
  }

/* -----------------HERO------------------------------------------------------------------------*/