@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap');
body{
    margin: 0;
    font-family: 'PT Sans Narrow', sans-serif;
    color: white;
    background-color: black;
}
.hours-and-location{
    margin-top: 50px;
}
.hours-container{
    padding:25px;
    width: 450px;
    height: 345.5px;
    text-align: center;
    background-color: black;

    float: left;
    margin-left: 10px;
}
ul.hours{
    list-style-type: none;
    padding: 0%;
}
iframe.gmaps{
    width: 500px; 
    height: 400px;
    border:0;
}
.gmaps-container{

}