@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

body{
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.details{
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

input{
    width: 30vw;
}
input[type=submit] {
    background-color: #eb19b0;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: fit-content;
}
.floorplan__container {
    position: relative;
}

.floorplan {
    vertical-align: middle;
    width: 600px;
}
.reservation__container {
    
    margin: auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.form {
    display: flex;
    flex-direction: column ;
}
.reservation__form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.reservation__form input::placeholder {
    font-family: 'PT Sans Narrow';
    font-size: 1rem;
}

.reservation__form input{
    color: white;
    width: 20vw;
    margin:0.5rem auto;
    border: none;
    background-color: black;
    resize: none;
    outline: none;
    font-size: 1rem;
    line-height: 1;
    border: white solid 2px;
    padding: 0.5rem;
    font-family: 'PT Sans Narrow';
}

input[type=submit] {
    background-color: #eb19b0;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 0;
    float:right;
    width: fit-content;
    font-family: 'PT Sans Narrow';
    font-size: 1rem;
   
}
.table {
    z-index: 4;
    position: absolute;
    width: 56px;
    cursor: pointer;
}
.table:hover {
    transform: translate(-10px,-10px);
    transition: all 0.5s ease;
    width: 76px;      
    z-index: 5;
}
#output {
    height: fit-content;
    width: 20vw;
}